// ------------------------------------------------------------------------------------------------
// DYNAMIC DISCOUNTS
// ------------------------------------------------------------------------------------------------

@if $page-dynamic-discounts {

	.post-type-wd_woo_discounts {
		--dn-input-width: 290px;

		.dn-discount {

			> div {

				&:not(:last-child) {
					max-width: var(--dn-input-width);
					width: 100%;
				}
			}
		}
	}

	.dn-discount-remove {
		width: 40px;
		flex-shrink: 0;
	}
}